<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/viewDetails.css">

    <title>Shopify</title>
</head>

<body>
    <input type="hidden" id="per" name="per" value="{{p}}">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
        <div class="container">
          <div id="logo">
            <img src="image/logo.jpg" alt="MyOnlineMeal.com">
            <a href="#">Shopify</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" id="home" href="/user_home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile" href="/profilev">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="log" href="/logoutu">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
        </div>
        </div>
      </nav> 

        <div class="container">
          <div class="order">
            <h1>
                Order Details
            </h1>
          </div>

          <div class="main">
             <div class="content">
                {{!-- <form action="/confirm" method="post"> --}}
                {{!-- <input type="hidden" name="shop" value="{{shop}}">
                <input type="hidden" name="item" value="{{item}}">
                <input type="hidden" name="user" value="{{user}}"> --}}
                    <div id="name">
                         <h6 class="name"> Customer Name</h6>
                         <input type="text" class="fname" id="fname" name="fname" value="{{cfname}}"><br>
                         <label for="fname" class="fnamelb">First Name</label>
                         <input type="text" class="lname" id="lname" name="lname" value="{{clname}}">
                         <label for="lname" class="lnamelb">Last Name</label>
                     </div>

                    <div>
                         <label for="sname"><h6 class="name">Shop Name</h6></label>
                         <input type="text" class="sname" id="sname" name="sname" value="{{sname}}">
                    </div>

                    <div>
                         <label for="oid"><h6 class="name">Order ID</h6></label>
                         <input type="text" class="oid" id="oid" name="oid" value="{{oid}}">
                    </div>

                    <div class="quantity_price">
                         <div>
                             <label for="quantity"><h6 class="name">Quantity</h6></label>
                             <input type="text" class="quantity" id="quantity" name="quantity"value="{{quantity}}">
                         </div>
         
                         <div>
                             <label for="price"><h6 class="name cname">Price</h6></label>
                             <input type="text" class="price" id="price" name="price" value="{{price}}" readonly>
                         </div>
                     </div>

                     <div class="status_date">
                         <div>
                             <label for="status"><h6 class="name">Status</h6></label>
                             <input type="text" class="status" id="status" name="status"value="{{status}}">
                         </div>
         
                         <div>
                             <label for="date"><h6 class="name cname">Order Date</h6></label>
                             <input type="text" class="date" id="date" name="date" value="{{date}}" readonly>
                         </div>
                     </div>

                     <div id="phone">
                         <h6 class="phone"> Contact Number</h6>
                         <input type="text" class="cc" id="cc" name="cc" value="{{cc}}"><br>
                         <label for="cc" class="cclb">Customer Contact Number</label>
                         <input type="text" class="vc" id="vc" name="vc" value="{{vc}}">
                         <label for="vc" class="vclb">Vendor Contact Number</label>
                     </div>

         
                     <label for="add"><h6 class="name">Address</h6></label>
                     <textarea name="address" class="address" id="add" cols="62" rows="2">{{add}}</textarea>
         
                     {{!-- <div class="quantity_price">
                         <div>
                             <label for="quantity"><h6 class="name">Quantity</h6></label>
                             <input type="number" class="quantity" id="quantity" name="quantity" min="1" max="{{quantity}}" step="1" value="1">
                         </div>
         
                         <div>
                             <label for="price"><h6 class="name cname">Price</h6></label>
                             <input type="text" class="price" id="price" name="price" value="{{price}}" readonly>
                         </div>
                     </div> --}}
         
                     {{!-- <li>
                         <input id="check" type="checkbox" value="test" required>
                         <label for="check"><h6 class="check-text">Confirm</h6></label>
                     </li> --}}
         
                     {{!-- <input type="submit" value="Place Order"> --}}
                     <a href="" id="person"><button>Go To Profile</button></a>
                 {{!-- </form> --}}
             </div>

             <div class="image">
                 <img src="image/{{item}}.jpg" alt="">
                 <p>{{item}}</p>
             </div>

          </div>
        </div>
    
    <footer>
        <div class="center">
            Copyright &copy; www.myOnlineMeal.com. All rights reserved!
        </div>
    </footer>

  <script>
    let per=document.getElementById("per").value;
    if(per==="u")
    {
        document.getElementById("person").href="/profileu";
        document.getElementById("profile").href="/profileu";
        document.getElementById("home").href="/user_home";
        document.getElementById("log").href="/logoutu";
    }
    else 
    {
        document.getElementById("person").href="/profilev";
        document.getElementById("profile").href="/profilev";
        document.getElementById("home").href="/vendor_home";
        document.getElementById("log").href="/logoutv";
    }
      
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>